<p>{{ precio | currency: 'EUR' }}</p>
<p>{{ fechaActual | date: 'dd-MM-y HH:mm:ss' }}</p>
<p>{{ numero | number: '1.2-4' }}</p>
<p>{{ numAleatorio | percent: '1.2-2' }}</p>

<input type="range" min="0" [max]="arrNumeros.length" step="1" [value]="inicio" (input)="manejarChangeInicio($event)">

<input type="range" min="0" [max]="arrNumeros.length" step="1" [value]="fin" (input)="manejarChangeFin($event)">

<ul>
  <li *ngFor="let num of arrNumeros | slice:inicio:fin">
    {{ num }}
  </li>
</ul>

<!-- Sin resolver la promesa en el TS, resolvemos la promesa en el HTML con el pipe ASYNC y sacamos en el HTML los datos de la promesa -->
<ul>
  <li *ngFor="let user of promesaUsers|async">
    {{ user.name }}
  </li>
</ul>

<p>{{ 'en un lugar de la mancha' | capitalize }}</p>

<app-semaforo></app-semaforo>